@import "SHARED/reset.scss";

.wrapper {
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 1em;
	padding: 1em 1.62em;
	border: 0.15em solid var(--color__bg);
	border-radius: 0.5em;
	position: relative;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: var(--color__bg);
	color: var(--color__fg);
	transition: background-color .15s, color .15s;

	--color__bg: black;
	--color__fg: white;

	&:hover {
		color: var(--color__bg);
		background-color: var(--color__fg);
		cursor: pointer;
	}

	&.inactive .label {
		&.open {
			opacity: 1;
			top: 0em;
		}
		&.close {
			opacity: 0;
			transform: translate(-50%, 50%);
		}
	}

	&.active .label {
		&.open {
			opacity: 0;
			top: -1em;
		}
		&.close {
			opacity: 1;
			transform: translate(-50%, -50%);
		}
	}
}
	.checkbox {
		position: absolute;
		z-index: -1;
	}

	.label {
		position: relative;
		transition: opacity .15s, transform .3s, top .3s;
		&.open {}
		&.close {
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}