@import "SHARED/reset.scss";
@import "./animations.scss";

.wrapper {
	display: inline-block;
	height: 100%;
	width: 100%;
	font-size: 1em;
	padding: 1em 2.62em;
	border: 0.15em solid var(--color__bg);
	border-radius: 0.5em;
	position: relative;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: var(--color__bg);
	color: var(--color__fg);
	transition: background-color .15s, color .15s;

	--color__bg: black;
	--color__fg: white;

	&:hover {
		color: var(--color__bg);
		background-color: var(--color__fg);
		cursor: pointer;
		.hamburger .bar {
			background-color: var(--color__bg);
		}
	}

	&.inactive {
		.hamburger .bar {
			&:nth-child(1){
				transform: translate(-50%, -0.5em);
				animation: hamburger__top__open .6s ease-out;
			}
			&:nth-child(2){
				opacity: 1;
			}
			&:nth-child(3){
				transform: translate(-50%, 0.5em);
				animation: hamburger__bottom__open .6s ease-out;
			}
		}
		.label {
			&.open {
				opacity: 1;
				top: 0em;
			}
			&.close {
				opacity: 0;
				transform: translate(-50%, 50%);
			}
		}
	}
	&.inactive:hover,
	&.active {
		.hamburger .bar {
			&:nth-child(1){
				transform: translate(-50%, -0.33em);
			}
			&:nth-child(3){
				transform: translate(-50%, 0.33em);
			}
		}
	}

	&.active {
		.hamburger .bar {
			&:nth-child(1){
				transform: translate(-50%, -0.33em);
				animation: hamburger__top__close .6s both ease-out;
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(3){
				transform: translate(-50%, 0.33em);
				animation: hamburger__bottom__close .6s both ease-out;
			}
		}
		.label {
			&.open {
				opacity: 0;
				top: -1em;
			}
			&.close {
				opacity: 1;
				transform: translate(-50%, -50%);
			}
		}
	}
}
	.checkbox {
		position: absolute;
		z-index: -1;
	}
	.container {
		position: relative;
		left: calc(var(--hamburger__width) * 0.62);
		pointer-events: none;
		animation: label__load 1s both;

		--hamburger__width: 1.25em;
	}
		.hamburger {
			display: inline-block;
			font-size: 1em;
			height: 1em;
			width: var(--hamburger__width);
			position: absolute;
			top: 50%;
			left: -2em;
			transform: translate(0, -50%);
			animation: hamburger__load .6s .6s both cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
			.bar {
				display: block;
				width: 100%;
				height: var(--hamburger__bar__height);
				position: absolute;
				left: 50%;
				right: 50%;
				top: calc(50% - (var(--hamburger__bar__height) / 2));
				background-color: var(--color__fg);
				transition: background .15s, opacity .3s, transform .15s;
				
				--hamburger__bar__height: 0.162em;

				&:nth-child(2){
					transform: translate(-50%, 0);
				}
			}
		.label {
			position: relative;
			transition: opacity .15s, transform .3s, top .3s;
			&.open {}
			&.close {
				position: absolute;
				top: 50%;
				left: 50%;
			}
		}


